.mainTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #1a202c;
  margin-bottom: 32px; /* O 'mb: 4' do MUI equivale a 32px (4 * 8px) */
  text-align: center;  /* Substitui o align="center" */
}